<template>
  <div class="container-fluid">
    <div class="auth-form">
      <h2>Sing In</h2>
      <form @submit.prevent="singIn">
        <div class="form-group">
          <label for="email">Email</label>
          <input v-model="form.email" type="email" class="form-control" id="email" placeholder="Email">
          <p class="text-danger" v-if="errors.fields && errors.fields.email">{{errors.fields.email}}</p>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input v-model="form.password" type="password" class="form-control" id="password" placeholder="Password">
          <p class="text-danger" v-if="errors.fields && errors.fields.password">{{errors.fields.password}}</p>
        </div>
        <p class="text-danger" v-if="errors.message">{{errors.message}}</p>

        <div class="form-group btn-block">
          <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import LoginForm from '../models/LoginForm'

  export default {
    name: 'login',
    layout: 'auth',
    computed: {
      errors () {
        return this.$store.state.validation.errors
      }
    },
    data () {
      return {
        form: new LoginForm()
      }
    },
    methods: {
      singIn: function () {
        this.$store.dispatch('auth/signIn', this.form).then(response => {
          this.$router.push('/')
        })
      }
    }
  }
</script>

<style scoped lang="scss">
  .auth-form {
    width: 380px;
    padding: 15px;
    position: absolute;
    top: 25%;
    left: calc(50% - 225px);
    border: 1px solid #999;
    box-shadow: 0 3px 5px #aaa;

    * {
      border-radius: 0;
    }

    h2 {
      border-bottom: 1px solid #999;
      margin-bottom: 20px;
    }

    .btn-block {
      border-top: 1px solid #999;
      margin-top: 20px;

      button {
        display: block;
        width: 100%;
        margin-top: 20px;
      }
    }
  }
</style>
