<template>
  <section class="container-fluid">
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="#">NavBar</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item :to="{name : 'users'}">Users</b-nav-item>
          <b-nav-item-dropdown text="Some parts" right>
            <b-dropdown-item href="#">Part 1</b-dropdown-item>
            <b-dropdown-item href="#">Part 2</b-dropdown-item>
            <b-dropdown-item href="#">Part 3</b-dropdown-item>
            <b-dropdown-item href="#">Part 4</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
          </b-nav-form>

          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <em>User</em>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item @click.prevent="logout">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </section>
</template>

<script>
  export default {
    name: "nav-bar",
    methods: {
      logout: function () {
        localStorage.removeItem('user_key');
        this.$router.push({name: 'sing-in'});
      }
    }
  }
</script>

<style scoped>
  .container-fluid {
    padding: 0;
  }
</style>
