<template>
  <div class="container-fluid">
    <b-form @submit.prevent="submit" v-if="user">
      <div class="col-sm-6">
        <b-form-group
          label="Email address:"
          label-for="email"
          description="Please enter email address. It's field is required."
        >
          <b-form-input
            id="email"
            v-model="user.email"
            type="email"
            required
            placeholder="Enter email"
          ></b-form-input>
          <p class="text-danger text-left" v-if="errors.fields && errors.fields.email">
            {{errors.fields.email}}
          </p>
        </b-form-group>

        <b-form-group
          label="Name:"
          label-for="name"
          description="Please enter name of user. It's field is required."
        >
          <b-form-input
            id="name"
            v-model="user.name"
            type="text"
            required
            placeholder="Enter name"
          ></b-form-input>
          <p class="text-danger text-left" v-if="errors.fields && errors.fields.name">
            {{errors.fields.name}}
          </p>
        </b-form-group>
      </div>
      <div class="col-sm-6"></div>

      <div class="col-sm-12">
        <hr/>
        <b-button type="submit" variant="info">Save</b-button>
        <b-button variant="warning" @click.prevent="toList">Cancel</b-button>
      </div>
    </b-form>
  </div>
</template>

<script>
  import User from "../../models/User";

  export default {
    name: "manage-user",
    created() {
      this.init();
    },
    computed: {
      user() {
        return this.$route.params.id
          ? Object.assign({}, this.$store.state.user.user)
          : new User()
      },
      errors() {
        return this.$store.state.validation.errors
      }
    },
    methods: {
      init: function () {
        if (this.$route.params.id) {
          this.$store.dispatch('user/getUser', this.$route.params.id)
        }
      },
      submit: function () {
        let commit = 'user/storeUser';

        if (this.user.id) {
          commit = 'user/updateUser';
        }

        this.$store.dispatch(commit, this.user)
          .then(response => {
            let message = `Record with id #${response.id}
                          ${this.$route.params.id ? 'updated' : 'created'}
                          successfully`;

            this.$bvToast.toast(message, {
              title: 'Success',
              variant: 'success',
              solid: true
            })
          })
      },
      toList: function () {
        this.$router.push({name: 'users'});
      }
    }
  }
</script>

<style scoped>

</style>
