<template>
  <div class="container-fluid">
    <h2>
      Users List
      <router-link class="float-right" :to="{ name: 'create-user'}">
        <b-icon class="control-btn" icon="plus" variant="secondary" font-scale="1.0"></b-icon>
      </router-link>
    </h2>

    <div class="row table-block" v-if="list">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="table-cell-100">#id</th>
          <th>Email</th>
          <th>Name</th>
          <th class="table-cell-100">Created</th>
          <th class="table-cell-250"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="user in list" :key="user.id">
          <td>{{ user.id }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.createdAt }}</td>
          <td>
            <router-link :to="{ name: 'update-user', params: { id: user.id }}">
              <b-icon class="control-btn"
                      icon="pencil"
                      variant="secondary"
                      font-scale="1.5">
              </b-icon>
            </router-link>
            <b-icon v-on:click="remove($event, user)"
                    class="control-btn"
                    icon="trash"
                    variant="danger"
                    font-scale="1.5">
            </b-icon>
          </td>
        </tr>
        </tbody>
      </table>

      <hr/>

      <b-pagination
        v-model="filter.page"
        :total-rows="pagination.total"
        :per-page="pagination.perPage"
        aria-controls="my-table"
        @input="paginate"
      ></b-pagination>
    </div>
  </div>
</template>

<script>
  export default {
    name: "users",
    data: function () {
      return {
        filter: {page: 1, perPage: 10},
      }
    },
    created() {
      this.$store.dispatch('user/getUsersList', this.filter)
    },
    computed: {
      list() {
        return this.$store.state.user.usersList
      },
      pagination() {
        return this.$store.state.user.pagination
      }
    },
    methods: {
      remove: function (event, user) {
        event.stopPropagation();

        // this.boxTwo = '';
        this.$bvModal.msgBoxConfirm(`Please confirm that you want to delete user with id #${user.id}`,
          {
            title: 'Please Confirm',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          })
          .then(function (value) {
            if (value) {
              this.$store.dispatch('products/removeProduct', user.id)
                .catch(error => {
                  this.$bvToast.toast(error.response.data.detail, {
                    title: 'ОШИБКА!',
                    variant: 'ERROR',
                    solid: true
                  })
                });
              // self.$vueConfirm.close()
            }
          })
          .catch(err => {
            // An error occurred
          });
        // async function (confirm) {
        //   if (confirm === true) {
        //     await self.$store.dispatch('products/removeProduct', user.id)
        //       .catch(error => {
        //         self.$bvToast.toast(error.response.data.detail, {
        //           title: 'ОШИБКА!',
        //           variant: 'ERROR',
        //           solid: true
        //         })
        //       });
        //     self.$vueConfirm.close()
        //   } else {
        //     self.$vueConfirm.close()
        //   }
        // }
        // )
      },
      paginate() {
        console.log(this.pagination());
        this.$store.dispatch('user/getUsersList', this.filter)
      }
    }
  }
</script>

<style scoped>

</style>
